services:
  lofi-books:
    build:
      context: .
      args:
        VITE_MSAL_CLIENT_ID: ${VITE_MSAL_CLIENT_ID}
        VITE_MSAL_AUTHORITY: ${VITE_MSAL_AUTHORITY}
    networks:
      - mini
    restart: unless-stopped

  lofi-books-api:
    build:
      context: ./server
    environment:
      OPENAI_API_KEY: ${OPENAI_API_KEY}
    volumes:
      - lofi-data:/data
    networks:
      - mini
    restart: unless-stopped

volumes:
  lofi-data:

networks:
  mini:
    external: true
    name: mini-dashboard_default
