apiVersion: apps/v1
kind: Deployment
metadata:
  name: lofi-books-frontend
  namespace: lofi-books
  labels:
    app: lofi-books-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: lofi-books-frontend
  template:
    metadata:
      labels:
        app: lofi-books-frontend
    spec:
      containers:
        - name: frontend
          image: acrlobifooksprod.azurecr.io/lofi-books-frontend:latest
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 128Mi
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 30
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 3
            periodSeconds: 10
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: false  # nginx writes tmp files
            runAsNonRoot: false            # nginx needs root to bind :80 then drops
      securityContext:
        seccompProfile:
          type: RuntimeDefault
